body {
    font-family: Helvetica, Arial, sans-serif;
    background: #fafafa;


}

/* .fa {
    font-size: 20em;
} */

.container-full {
    width: 95%;
    margin: 0 auto;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #D32F2F !important;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.ottapp-right-info span {
    font-size: 12px;
    color: cornflowerblue;
}

.ottapp-right-info i {
    color: cornflowerblue;
    font-size: 25px;
}

.ottapp-left-info p {
    font-size: 12px;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

span.err {
    color: red;
}

.main-sidebar {
    min-height: 230% !important;
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out !important;
}

.wrapper {
    display: flex;
    align-items: stretch;
    max-width: 100%;
}

#chartdiv {
    width: 100%;
    height: 300px;
}

.image-parent {
    max-width: 40px;
}

.image-parent img {
    float: left;
    margin-right: 20px;
}

.image-parent i {
    font-size: 60px;
}

.fa-youtube {
    color: red;
}

.fa-twitter {
    color: #00acee;
}

.fa-whatsapp {
    color: #4fce5d;
}

.fa-line {
    color: #00b900;
}

a[data-toggle="collapse"] {
    position: relative;
}

.btn-outline-elegant:not([disabled]):not(.disabled):active,
.btn-outline-elegant:not([disabled]):not(.disabled).active,
.show>.btn-outline-elegant.dropdown-toggle {
    background: #2e2e2e !important;
    color: white !important;
}

.nav-tabs {
    border-bottom: 0;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    min-height: 100vh;
    transition: all 0.3s;
}

.contentwrap {
    padding: 40px;
}

span.judul {
    padding: 5px 0 0 10px;
    font-weight: 500;
}

.db {
    display: block;
    font-size: 0.7em;
}

.persen {
    font-size: 1.2rem;
    color: forestgreen;
    font-weight: 600;
}

.networkavail-topfilter button {
    font-size: 10px;
}

.custom1 {
    width: 100%;
    max-width: 160px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 9px -5px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 4px 9px -5px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 4px 9px -5px rgba(0, 0, 0, 0.45);
}

.contentwrap .card {
    border-radius: 10px;
}

.heightfull {
    height: 100%;
}

.bg-yellow-indosat {
    background-color: #FBC02D !important;
}

.bg-red-indosat {
    color: #D32F2F !important;
}

a.bg-red-indosat:hover,
a.bg-red-indosat:focus {
    color: #ffffff !important;
}

.bg-yellow-indosat>.sidebar>a {
    color: #ffffff !important;
}

.dropdown-item.test:hover,
.dropdown-item.test:focus {
    color: #ffffff !important;
    background-color: #D32F2F !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1023px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    a[aria-expanded="false"]::before,
    a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

}